<div class="row">
    <div *ngIf="isProductAdded" class="alert alert-success">Successfully added {{product.productName}} to the cart.</div>
    <div class="col-sm-3">
        <img src={{product.productImage}} alt="image">
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-6">
        <h5>{{product.brandName}}</h5>
        <h6>{{product.productName}}</h6>
        <hr>
        <h5>Description</h5>
        <p>{{product.productDescription}}</p>
        <hr>
        <h5>Price - ${{product.productPrice}}</h5>
        <hr>
        <h5>Quantity</h5>
        <div class="quantity">
            <button class="btn btn-danger quantity-button" (click)="decreaseQuantity()">-</button>
            <input type="text" [(ngModel)]="quantity" />
            <button class="btn btn-primary quantity-button" (click)="increaseQuantity()">+</button>
        </div>
        <hr>
        <button class="btn btn-warning w-100" (click)="onClick()">Add to cart</button>          
    </div>
</div>
